{% extends "layout.html" %}
{% block body %}
<div class="container mt-3">
<div class="card-body">
  <form action="/submit_update" method="post">
    <input type="hidden" name="id" value="{{ entry.id }}">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title" value="{{ entry.title }}" class="form-control border-3 w-50">
      <dt>Text:
      <dd><textarea name="text" rows="5" cols="40" class="form-control border-3 w-50">{{ entry.text }}</textarea>
      <dt> Category:
      <dd><input type="text" size="30" name="category" value = "{{ entry.category }}" class="form-control border-3 w-50">
      <dd><input type="submit" value="Update" class="btn btn-primary">
    </dl>
  </form>
</div>
  <form method="get" action="{{ url_for('show_entries') }}" >
    {% for category in all_categories %}
        <label>
        <input type="radio" name = "sort_selected" value="{{ category }}" {%  if selected_category == category %}checked{% endif %}>
        {{ category }}
        </label>
    {% endfor %}
    <button type="submit" class="btn btn-secondary">Filter</button>
    <a href="{{ url_for('show_entries') }}"><button type="button" class="btn btn-secondary">Reset</button></a>
  </form>
  <ul class="list-group">
  {% for entry in entries %}
      <li class="list-group-item">
         <div class="row">
            <div class="col-4">
                <h2>{{ entry.title }}</h2>
            </div>
            <div class="col-3">
                {{ entry.category }}
            </div>
                <div class="col-5">
                    <form action = "/delete" method="post" class="d-inline">
                        <input name="id" type="hidden" value="{{ entry.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <form action = "/update" method="post" class="d-inline">
                        <input name="id" type="hidden" value="{{ entry.id }}">
                        <button type="submit" class="btn btn-warning btn-sm">Update</button>
                    </form>
                </div>
         </div>
         <div class="row">
             <div class="col-12">
                {{ entry.text|safe }}
             </div>
         </div>
      </li>
  {% else %}
    <li class="list-group-item"><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
