{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dt>Text:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dt> Category:
      <dd><input type="text" size="30" name="category">
      <dd><input type="submit" value="Share">
    </dl>
  </form>
  <form method="get" action="{{ url_for('show_entries') }}" >
  {% for category in all_categories %}
    <label>
    <input type="radio" name = "sort_selected" value="{{ category }}" {%  if selected_category == category %}checked{% endif %}>
        {{ category }}
    </label>
  {% endfor %}
    <button type="submit">Filter</button>
    <a href="{{ url_for('show_entries') }}"><button type="button">Reset</button></a>
  </form>
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
